<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Movie Database</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Monoton|Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
  <script type="text/template" id="movieTmpl">

    <img src='<%= image %>'>
    <h2><%= title %></h2>
    <p><%= releaseDate %></p>
    <p><%= synopsis %></p>
    <button class = 'deleteMovie'>Delete Movie</button>
    <button class = 'editMovie'>Edit Movie</button>

  </script>
</head>
<body>
  <header>
    <h1>VMDb</h1>
  </header>

  <section>
    <h2 id="subHeadline">Veronika's Movie Database  <button class="showCreate">Add Movie</button></h2>
    <form action="" id="createMovie">
      <p><input type="text" name="newImage" placeholder="Movie Poster URL"></p>
      <p><input type="text" name="newTitle" placeholder="Movie Title"></p>
      <p><input type="text" name="newReleaseDate" placeholder="Year Released"></p>
      <p><textarea name="newSynopsis" id="newSynopsis" cols="30" rows="10" placeholder="Synopsis"></textarea></p>
      <p><button type="submit">Submit New Movie</button></p>
    </form>

  </section>


  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <!-- app files-->
  <script src="js/model.js"></script>
  <script src="js/collection.js"></script>
  <script src="js/views.js"></script>
  <script src="js/main.js"></script>


</body>
</html>
