body {
  margin:0;
  padding:0;
  font-family: 'PT Sans', sans-serif;
}
h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
}
section {
  width: 90%;
  margin: 0 auto;
  #subHeadline {
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
  }
}

article {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 1.5%;
  img {
    max-height: 350px;
    display: block;
  }
  h2 {
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
  }
  p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'PT Sans', sans-serif;
  }
}

form {
  display: none;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
  }
}


input {
  font-size: 0.5em;
  border: 1px solid #bdbdbd;
  border-radius: 5%;
  padding: 5px;

}
.showCreate, .deleteMovie, .editMovie {
  font-size: 0.5em;
  padding: 5px;
  background-color: white;
  border-radius: 5%;
}


.show {
  display: block;
}
